:root {
  --background-main: rgb(30,30,30);
  --background-navbar: rgb(13,17,23);
  --body-text-colour: rgb(139,148,158);
  --title-text-colour: rgb(230,230,230);
  
}

html {
  text-align: center;
  font-family: "Roboto", Cambria
}

.socials {
  width: 100%;
  background: var(--background-navbar);
  height: 35px;
  margin: 0;
  position: relative;
  display: block
}

body {
  margin: 0;
  /* background-color: #6b6161; */
  background: var(--background-main)
}

.top {
  margin: 0;
}

.jackhaynes {
  width: 100%;
  padding: 6px 0
}

.github {
  display: block
}

.main {
  /* background: #6b6161; */
  background: var(--background-main)
  height: auto;
  margin: 0;
  min-height: 900px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  color: var(--title-text-colour)
}

.couch {
  display:block;
  margin: auto;
  transition: all .2s ease-in-out;
}

.text-block {
  display: block;
  position: relative;
}

.arrow {
  font-size: 200%;
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  /* filter: invert(100%);
  -webkit-filter: invert(100%); */
}

.infoboxes {
  max-width: 800px;
  width: 75vh;
  height: 450px;
  /* background-color: #6b6161; */
  background: var(--background-main);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
  margin: 5px auto;
  border-radius: 25px;
  overflow: ;
}

.blog-info, .projects-info, .contact-info, .images-info{
  border: 1px solid white;
  height: 180px;
  width: 40%;
  min-width: 322px;
  border-radius: 25px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all .1s ease-in-out;
}

h2 {
  font-size: 2rem;
}

.projects-info:hover {
  transform: scale(1.05);
}

.blog-info:hover {
  transform: scale(1.05);
} 

.contact-info:hover {
  transform: scale(1.05);
}

.images-info:hover {
  transform: scale(1.05);
}

.blog-container {
  background: grey;
  height: 1000px;
  margin-top: -16px;
}

.blog-page {
  background: white;
  display: block;
  position: relative;
  max-width: 800px;
  height: 950px;
  width: 80vh;
  margin: auto;
  top: 50px;
}

p {
  color: var(--body-text-colour);
  margin: 0;
}

h3 {
  color: var(--title-text-colour);
}

.navbar {
  height: 50px;
  width: 100%;
  display: block;
  /* background-color: #6b6161; */
  background: var(--background-main)
}

.navbar-wrapper {
  height: 100%;
  width: 1000px;
  margin: auto;
}

.back-button {
  display: block;
  left: 0px;
  height: 100%;
  width: 150px;
}

.content-wrapper {
  max-width: 1000px;
  width: 75vh;
  height: auto;
  display: block;
  margin: auto;
  border-top: 1px solid white;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;
}


li {
  color: black
}

.splash {
  padding-right: 135px;
  padding-left: 135px;
  padding-top: 66px;
  padding-bottom: 87px;
}

.blogpost {
  text-align: left;
}

blockquote {
  font-size: 24px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px 0;
  width: 75%;
  margin: 25px auto;
  color: var(--title-text-colour)
}

#class-vs-ids {
  margin-top: 25px;
  border-radius: 25px;
}

.couch:hover {
  filter: invert(100%);
  filter: invert(100%);
  cursor: pointer;
  transform: scale(1.07);
}

li {
  text-decoration: none;
  /* list-style-type: none; */
  margin-bottom: 5px;
  text-align: left;
  color: white;
}

ul {
  width: 60%;
  margin: auto;
}

.crest {
  float: left;
  display: inline;
  filter: grayscale(1);
}

@media (max-width: 900px) {
   .infoboxes {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 300px;
    height: 600px;
  }
  .blog-info, .projects-info, .contact-info, .images-info{
    width: 250px;
    height: 250px;
  }
  .blog-page {

  }
  .infoboxes {
    justify-content: space-between;
  }

  .couch {
    width: 160px;
    height: 100px;
  }

  .crest {
    height: 257px;
    width: 173x;
  }

  h1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .content-wrapper {
    padding-top: 10px;
  }

  .navbar {
    height: 30px;
  }

  blockquote {
    margin: 15px auto;
  }

  .jackhaynes {
    padding: 0;
  }

  .socials {
    height: 27px;
  }
  
}

@media (max-width: 1100px) {
  .content-wrapper {
  width: auto;
  height: auto;
  }
}